csdv_nodered.json
[{"id":"e216d574.64c088","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"4db0175e.bdc968","type":"ui_text_input","z":"e216d574.64c088","name":"Start Time","label":"","tooltip":"Enter Start Time","group":"2fba0f2f.0a059","order":3,"width":"6","height":"1","passthru":true,"mode":"time","delay":300,"topic":"","x":530,"y":180,"wires":[["51d70fe7.7762e"]]},{"id":"d01a9baa.1154b8","type":"ui_date_picker","z":"e216d574.64c088","name":"Start Date","label":"Start Date","group":"2fba0f2f.0a059","order":2,"width":"6","height":"1","passthru":true,"topic":"","x":520,"y":140,"wires":[["3f317e14.4acf22"]]},{"id":"4a605fb0.4adb1","type":"ui_date_picker","z":"e216d574.64c088","name":"","label":"End Date","group":"2fba0f2f.0a059","order":4,"width":"6","height":"1","passthru":true,"topic":"","x":520,"y":220,"wires":[["d171db48.a26a68"]]},{"id":"c91222a7.0844f","type":"ui_text_input","z":"e216d574.64c088","name":"End Time","label":"","tooltip":"Enter End Time","group":"2fba0f2f.0a059","order":5,"width":"6","height":"1","passthru":false,"mode":"time","delay":300,"topic":"","x":520,"y":260,"wires":[["bc9854a5.f47578"]]},{"id":"b0f46e67.5bb15","type":"ui_text_input","z":"e216d574.64c088","name":"","label":"Query","tooltip":"MySql Query","group":"2fba0f2f.0a059","order":1,"width":"12","height":"1","passthru":true,"mode":"text","delay":"300","topic":"","x":510,"y":100,"wires":[["458c295.fa38dd8"]],"info":"Enter a Query"},{"id":"fed3c30e.6c926","type":"ui_text_input","z":"e216d574.64c088","name":"","label":"Device Number","tooltip":"","group":"2fba0f2f.0a059","order":6,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":540,"y":300,"wires":[["1e2b96e8.663409"]]},{"id":"458c295.fa38dd8","type":"function","z":"e216d574.64c088","name":"","func":"var payload = msg.payload;\n\nif(payload.length === 0) {\n    \n    global.set(\"query_topic\", 0);\n    \n}\nelse\n{\n    global.set(\"query_topic\", payload);\n}\nmsg.payload = {\n    \"group\": {\n        \"hide\": [\n            \"Orbcomm_Cellular_Download\"\n        ],\n        \"focus\": true\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":100,"wires":[["685856f1.731e88"]]},{"id":"9bc2e8c2.f76548","type":"function","z":"e216d574.64c088","name":"Set Default UTC time","func":"var date = new Date();\nvar current_date = date.getUTCDate();\nvar current_month = date.getUTCMonth() + 1;\nvar current_year = date.getUTCFullYear();\nvar current_hours = date.getUTCHours();\nvar current_minutes = date.getUTCMinutes();\nvar current_seconds = date.getUTCSeconds();\n\nvar today = current_year+ '-' +((current_month > 8) ? (current_month + 1) : ('0' + (current_month + 1))) + '-' + ((current_date > 9) ? current_date : ('0' + current_date));\n\nvar now = ((current_hours > 9) ? current_hours : ('0' + current_hours)) + ':' + ((current_minutes > 9) ? current_minutes : ('0' + current_minutes)) + ':' + ((current_seconds > 9) ? current_seconds : ('0' + current_seconds));\n\nvar zero_time = '00:00:00';\nvar end_time = '23:59:59'\n\nvar default_start_time = today + \" \" + zero_time;\nvar default_end_time = today + \" \" + end_time;\n\n\nglobal.set(\"@date1\", default_start_time);\nglobal.set(\"@date2\", default_end_time);\n\nreturn msg;","outputs":0,"noerr":0,"x":300,"y":140,"wires":[]},{"id":"1e3c0b04.2ea165","type":"inject","z":"e216d574.64c088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":90,"y":140,"wires":[["9bc2e8c2.f76548"]]},{"id":"d861d4bb.668928","type":"comment","z":"e216d574.64c088","name":"default UTC times","info":"Creating default UTC times\n -     The date and time will be update at 12:00PM ","x":210,"y":80,"wires":[]},{"id":"5558f526.b53a0c","type":"comment","z":"e216d574.64c088","name":"Dashboard Elements","info":"","x":640,"y":60,"wires":[]},{"id":"cd48c081.16066","type":"mysql","z":"e216d574.64c088","mydb":"f7295af1.96b588","name":"Pub_Sub secondary Db","x":330,"y":440,"wires":[["794f9922.9745d8","88c16585.e11ab8"]]},{"id":"e77fa8fe.f82318","type":"inject","z":"e216d574.64c088","name":"","topic":"SELECT sc_unit_id AS 'Serial Number', SUM(data = 0x01) AS 'Loaded', SUM(data = 0x00) AS 'Empty' FROM ib_queue WHERE (creation_time BETWEEN '2019-10-08 11:55:00' AND '2020-10-30 23:55:00') AND module = 15 AND component = 1 AND parameter = 6 GROUP BY sc_unit_id ORDER BY sc_unit_id","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":520,"wires":[["cd48c081.16066"]]},{"id":"fbf469a3.8a3588","type":"ui_button","z":"e216d574.64c088","name":"","group":"2fba0f2f.0a059","order":6,"width":0,"height":0,"passthru":false,"label":"Run Query","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":70,"y":340,"wires":[["13b3ce1f.5c4ea2","b1b6f080.99fb5"]]},{"id":"13b3ce1f.5c4ea2","type":"function","z":"e216d574.64c088","name":"Create Query","func":"var temp_topic;\nvar topic;\n\nvar startDate = global.get(\"start_date\");\nvar startTime = global.get(\"start_time\");\nvar endDate = global.get(\"end_date\");\nvar endTime = global.get(\"end_time\");\n\nnode.log(startDate);\nif(msg.payload === true){\n    temp_topic = global.get(\"query_topic\");\n    \n    \n    if(temp_topic.includes(\"@date1\"))\n    {\n        temp_topic = temp_topic.replace(/@date1/g, \"'\" + startDate + \" \" + startTime + \"'\");\n    }\n    if(temp_topic.includes(\"@date2\"))\n    {\n        temp_topic = temp_topic.replace(/@date2/g, \"'\" + endDate + \" \" + endTime + \"'\");  \n    }\n    if(temp_topic.includes(\"@devices\"))\n    {\n        // @Todo\n        // Complete when Design of devices is done.\n        // Must take in n number of devices.\n    }\n    \n    topic = temp_topic;\n}\nreturn {\"topic\": topic};\n","outputs":1,"noerr":0,"x":240,"y":380,"wires":[["cd48c081.16066"]]},{"id":"794f9922.9745d8","type":"function","z":"e216d574.64c088","name":"","func":"var payload = msg.payload;\n\nnode.log(typeof(payload));\n    node.log(payload);\nreturn [msg, null];\n","outputs":2,"noerr":0,"x":530,"y":440,"wires":[["b108c3bb.5e512","bc69264a.aef708"],["6f7d46af.8865c8"]]},{"id":"96ffcdf8.705f7","type":"function","z":"e216d574.64c088","name":"Set base path","func":"//restrict to c:\\temp\\\nvar basePath = \"/Users/obaid/Documents/\";\nvar filename = msg.req.params.fn;\n\n\nif(filename.includes(\"..\\\\\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} else if(filename.includes(\"../\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} \n//TODO: add more checks\n\nmsg.filename = basePath + filename;\nreturn [msg, null];//fire output 1\n\n\n","outputs":2,"noerr":0,"x":480,"y":1000,"wires":[["5fea1228.1eb53c"],["daaab66a.5a7fd8"]]},{"id":"daaab66a.5a7fd8","type":"http response","z":"e216d574.64c088","name":"","statusCode":"","headers":{},"x":790,"y":1000,"wires":[]},{"id":"f07d80ea.8a4ea","type":"catch","z":"e216d574.64c088","name":"","scope":["cb065ab5.34db88"],"uncaught":false,"x":250,"y":1060,"wires":[["bf815220.6dace","1c89e8a7.cdb187"]]},{"id":"bf815220.6dace","type":"function","z":"e216d574.64c088","name":"Set 404","func":"msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1060,"wires":[["daaab66a.5a7fd8"]]},{"id":"1c89e8a7.cdb187","type":"debug","z":"e216d574.64c088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":1100,"wires":[]},{"id":"4a4a5dd3.3b2344","type":"ui_template","z":"e216d574.64c088","group":"1eec6af6.5c3945","name":"ui_template - present download links on dashboard","order":0,"width":0,"height":0,"format":"<div >\n    <a href=\"/files/book1.xlsx\">Link to Download Excel</a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1010,"y":780,"wires":[[]]},{"id":"db33bf1c.050e7","type":"comment","z":"e216d574.64c088","name":"Create http endpoint <nodered>/files/xxx  where xxx is the file name to download","info":"","x":480,"y":860,"wires":[]},{"id":"cb065ab5.34db88","type":"http in","z":"e216d574.64c088","name":"","url":"/files/:fn","method":"get","upload":false,"swaggerDoc":"","x":250,"y":940,"wires":[["96ffcdf8.705f7"]]},{"id":"685856f1.731e88","type":"ui_ui_control","z":"e216d574.64c088","name":"","events":"all","x":620,"y":780,"wires":[["4a4a5dd3.3b2344"]]},{"id":"df74dec0.acfa","type":"function","z":"e216d574.64c088","name":"Set Basepath + filename .xlsx","func":"var uuid = msg.uuid;\nvar basefile_path = '/Users/obaid/Documents/';\n\nmsg.filepath = basefile_path + uuid + '.xlsx';\n\n//msg.filepath = basefile_path + 'book1.xlsx';\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":420,"wires":[["28541948.e14006"]]},{"id":"7c8d14fb.d83d4c","type":"catch","z":"e216d574.64c088","name":"","scope":null,"uncaught":true,"x":320,"y":600,"wires":[["4a7971d2.04be7"]]},{"id":"4a7971d2.04be7","type":"debug","z":"e216d574.64c088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":600,"wires":[]},{"id":"3f317e14.4acf22","type":"function","z":"e216d574.64c088","name":"","func":"var payload = msg.payload;\nvar default_start_time = global.get(\"@date1\");\n\n//node.log(\"Default date:\" + default_start_time);\nif(payload.length === 0) {\n    \n    global.set(\"start_date\", default_start_time);\n    \n}\nelse\n{\n    var d = new Date(payload);\n    var get_date = d.getDate();\n    var get_month = d.getMonth();\n    var get_year = d.getFullYear();\n    var my_date = calc_date(get_date, get_month, get_year);\n    node.log(\"start date payload:\" + my_date);\n    global.set(\"start_date\", my_date);\n}\n\n\nfunction calc_date(current_date, current_month , current_year){\n    var my_date = current_year+ '-' +((current_month > 8) ? (current_month + 1) : ('0' + (current_month + 1))) + '-' + ((current_date > 9) ? current_date : ('0' + current_date));\n    return my_date;\n    \n}\n\n\n\n\n","outputs":1,"noerr":0,"x":710,"y":140,"wires":[[]]},{"id":"d171db48.a26a68","type":"function","z":"e216d574.64c088","name":"","func":"var payload = msg.payload;\nvar default_end_time = global.get(\"@date2\");\n\nif(payload.length === 0) {\n    \n    global.set(\"end_date\", default_start_time);\n    \n}\nelse\n{\n    var d = new Date(payload);\n    var get_date = d.getDate();\n    var get_month = d.getMonth();\n    var get_year = d.getFullYear();\n    var my_date = calc_date(get_date, get_month, get_year);\n    node.log(\"end date payload:\" + my_date);\n    global.set(\"end_date\", my_date);\n}\n\nfunction calc_date(current_date, current_month , current_year){\n    var my_date = current_year+ '-' +((current_month > 8) ? (current_month + 1) : ('0' + (current_month + 1))) + '-' + ((current_date > 9) ? current_date : ('0' + current_date));\n    return my_date;\n    \n}\n\n","outputs":1,"noerr":0,"x":710,"y":220,"wires":[[]]},{"id":"bc9854a5.f47578","type":"function","z":"e216d574.64c088","name":"","func":"var payload = msg.payload\n\nvar end_time = msToTime(payload);\n\nglobal.set(\"end_time\", end_time);\n\nfunction msToTime(duration) {\n    var milliseconds = parseInt((duration%1000)/100)\n    var seconds = parseInt((duration/1000)%60)\n    var minutes = parseInt((duration/(1000*60))%60)\n    var hours = parseInt((duration/(1000*60*60))%24);\n\n    hours = (hours < 10) ? \"0\" + hours : hours;\n    minutes = (minutes < 10) ? \"0\" + minutes : minutes;\n    seconds = (seconds < 10) ? \"0\" + seconds : seconds;\n\n    return hours + \":\" + minutes + \":\" + seconds;\n}\n\nreturn {\"payload\": end_time};","outputs":1,"noerr":0,"x":710,"y":260,"wires":[[]]},{"id":"1e2b96e8.663409","type":"function","z":"e216d574.64c088","name":"","func":"var temp_payload = msg.payload;\nvar payload;\n\nnode.log(temp_payload.includes(\"@date1\"));\nif((temp_payload.includes(\"@date1\")) || (temp_payload.includes(\"@date2\")))\n{\n    temp_payload = temp_payload.replace(/@date1/g, \"123\");\n}\nif(temp_payload.includes(\"@date2\"))\n{\n    temp_payload = temp_payload.replace(/@date2/g, \"469\");  \n}\n\npayload = temp_payload;\n\nreturn {\"payload\":payload};","outputs":1,"noerr":0,"x":710,"y":300,"wires":[[]]},{"id":"51d70fe7.7762e","type":"function","z":"e216d574.64c088","name":"","func":"var payload = msg.payload\n\nvar start_time = msToTime(payload);\n\nglobal.set(\"start_time\",start_time);\nfunction msToTime(duration) {\n    var milliseconds = parseInt((duration%1000)/100)\n    var seconds = parseInt((duration/1000)%60)\n    var minutes = parseInt((duration/(1000*60))%60)\n    var hours = parseInt((duration/(1000*60*60))%24);\n\n    hours = (hours < 10) ? \"0\" + hours : hours;\n    minutes = (minutes < 10) ? \"0\" + minutes : minutes;\n    seconds = (seconds < 10) ? \"0\" + seconds : seconds;\n\n    return hours + \":\" + minutes + \":\" + seconds;\n}\nreturn {\"payload\": start_time};","outputs":1,"noerr":0,"x":710,"y":180,"wires":[[]]},{"id":"b108c3bb.5e512","type":"ui_table","z":"e216d574.64c088","group":"8f9c48ae.8f45b8","name":"","order":2,"width":"12","height":"12","columns":[],"outputs":0,"cts":false,"x":690,"y":440,"wires":[]},{"id":"28541948.e14006","type":"excel","z":"e216d574.64c088","name":"","file":"","x":910,"y":480,"wires":[["ffbaf296.61118","561d948d.c7976c"]]},{"id":"bc69264a.aef708","type":"uuid","z":"e216d574.64c088","uuidVersion":"v4","namespaceType":"url","namespace":"'book1.xlsx'","namespaceCustom":"","name":"Unique ID for excel sheet","field":"uuid","fieldType":"msg","x":670,"y":380,"wires":[["df74dec0.acfa"]]},{"id":"88c16585.e11ab8","type":"debug","z":"e216d574.64c088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":520,"wires":[]},{"id":"6f7d46af.8865c8","type":"ui_toast","z":"e216d574.64c088","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":730,"y":500,"wires":[]},{"id":"5fea1228.1eb53c","type":"file in","z":"e216d574.64c088","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":610,"y":940,"wires":[["daaab66a.5a7fd8"]]},{"id":"ffbaf296.61118","type":"function","z":"e216d574.64c088","name":"Excel available ","func":"var getUUID = msg.uuid;\nvar file_path = \"/files/\" + getUUID + \".xlsx\";\n\nif(msg.filepath === msg.file){\n    msg.payload = {\n        \"group\": {\n            \"show\": [\n                \"Orbcomm_Cellular_Download\"\n            ],\n            \"focus\": true\n        },\n        \"file_path\": file_path\n    }\n}\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1000,"y":560,"wires":[["1ea31741.09a009","685856f1.731e88"]]},{"id":"1ea31741.09a009","type":"template","z":"e216d574.64c088","name":"","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div >\n    <a href=\"{{{payload.file_path}}}\">Link to Download Excel</a>\n</div>","output":"str","x":880,"y":660,"wires":[["4a4a5dd3.3b2344"]]},{"id":"c7e9a331.f99a5","type":"ui_toast","z":"e216d574.64c088","position":"top right","displayTime":"","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":1110,"y":340,"wires":[]},{"id":"b1b6f080.99fb5","type":"function","z":"e216d574.64c088","name":"","func":"if(msg.payload === true){\n    msg.payload = \"Waiting for DB\";\n    msg.highlight = \"orange\";\n    msg.duration = \"30\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["c7e9a331.f99a5"]]},{"id":"561d948d.c7976c","type":"function","z":"e216d574.64c088","name":"","func":"if(msg.filepath === msg.file){\n    \n    msg.payload = \"Excel ready to Download\";\n    msg.highlight = \"green\";\n    \n}\n\nreturn {\"payload\": \"Excel ready to Download\"};","outputs":1,"noerr":0,"x":1110,"y":460,"wires":[["c7e9a331.f99a5"]]},{"id":"2fba0f2f.0a059","type":"ui_group","z":"","name":"Query Form","tab":"a910a10a.77ac3","order":1,"disp":true,"width":"12","collapse":false},{"id":"f7295af1.96b588","type":"MySQLdatabase","z":"","name":"","host":"10.205.1.245","port":"3306","db":"pubsub","tz":""},{"id":"1eec6af6.5c3945","type":"ui_group","z":"","name":"Download","tab":"a910a10a.77ac3","order":3,"disp":true,"width":"6","collapse":false},{"id":"8f9c48ae.8f45b8","type":"ui_group","z":"","name":"Orbcomm Cellular Data","tab":"a910a10a.77ac3","order":2,"disp":true,"width":"12","collapse":false},{"id":"a910a10a.77ac3","type":"ui_tab","z":"","name":"Orbcomm Cellular","icon":"Orbcomm","disabled":false,"hidden":false}]