csdv_nodered.json
[{"id":"cb9a15b7.211428","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"46fa2c9a.d40cc4","type":"ui_text_input","z":"cb9a15b7.211428","name":"Start Time","label":"","tooltip":"Enter Start Time","group":"511b6044.b677b","order":3,"width":"6","height":"1","passthru":true,"mode":"time","delay":300,"topic":"","x":550,"y":160,"wires":[["db1621b2.10a1f"]]},{"id":"d719704e.48adb","type":"ui_date_picker","z":"cb9a15b7.211428","name":"Start Date","label":"Start Date","group":"511b6044.b677b","order":2,"width":"6","height":"1","passthru":true,"topic":"","x":540,"y":120,"wires":[["ef80ae89.3010e"]]},{"id":"b86ee059.41514","type":"ui_date_picker","z":"cb9a15b7.211428","name":"","label":"End Date","group":"511b6044.b677b","order":4,"width":"6","height":"1","passthru":true,"topic":"","x":540,"y":200,"wires":[["3ffa1fa6.bc459"]]},{"id":"338d2d9b.b15762","type":"ui_text_input","z":"cb9a15b7.211428","name":"End Time","label":"","tooltip":"Enter End Time","group":"511b6044.b677b","order":5,"width":"6","height":"1","passthru":false,"mode":"time","delay":300,"topic":"","x":540,"y":240,"wires":[["4fdd0ee5.f7d1f"]]},{"id":"3ce54f11.b1846","type":"ui_text_input","z":"cb9a15b7.211428","name":"","label":"Query","tooltip":"MySql Query","group":"511b6044.b677b","order":1,"width":"12","height":"1","passthru":true,"mode":"text","delay":"0","topic":"","x":530,"y":80,"wires":[["4fad6e31.c9d4f"]],"info":"Enter a Query"},{"id":"cee6647a.e76c78","type":"ui_text_input","z":"cb9a15b7.211428","name":"","label":"Device Number","tooltip":"","group":"511b6044.b677b","order":6,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":560,"y":280,"wires":[["c5d4fb00.94bad8"]]},{"id":"4fad6e31.c9d4f","type":"function","z":"cb9a15b7.211428","name":"","func":"var payload = msg.payload;\n\nif(payload.length === 0) {\n    \n    global.set(\"query_topic\", 0);\n    \n}\nelse\n{\n    global.set(\"query_topic\", payload);\n}\n","outputs":1,"noerr":0,"x":730,"y":80,"wires":[[]]},{"id":"974b9411.a0f358","type":"function","z":"cb9a15b7.211428","name":"Set Default UTC time","func":"var date = new Date();\nvar current_date = date.getUTCDate();\nvar current_month = date.getUTCMonth() + 1;\nvar current_year = date.getUTCFullYear();\nvar current_hours = date.getUTCHours();\nvar current_minutes = date.getUTCMinutes();\nvar current_seconds = date.getUTCSeconds();\n\nvar today = current_year+ '-' +((current_month > 8) ? (current_month + 1) : ('0' + (current_month + 1))) + '-' + ((current_date > 9) ? current_date : ('0' + current_date));\n\nvar now = ((current_hours > 9) ? current_hours : ('0' + current_hours)) + ':' + ((current_minutes > 9) ? current_minutes : ('0' + current_minutes)) + ':' + ((current_seconds > 9) ? current_seconds : ('0' + current_seconds));\n\nvar zero_time = '00:00:00';\nvar end_time = '23:59:59'\n\nvar default_start_time = today + \" \" + zero_time;\nvar default_end_time = today + \" \" + end_time;\n\n\nglobal.set(\"@date1\", default_start_time);\nglobal.set(\"@date2\", default_end_time);\n\nreturn msg;","outputs":0,"noerr":0,"x":320,"y":120,"wires":[]},{"id":"76de2639.355f98","type":"inject","z":"cb9a15b7.211428","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["974b9411.a0f358"]]},{"id":"a80d75e8.2316c8","type":"comment","z":"cb9a15b7.211428","name":"default UTC times","info":"Creating default UTC times\n -     The date and time will be update at 12:00PM ","x":230,"y":60,"wires":[]},{"id":"cb9f6eda.fd7c5","type":"comment","z":"cb9a15b7.211428","name":"Dashboard Elements","info":"","x":660,"y":40,"wires":[]},{"id":"770a7178.bbba9","type":"mysql","z":"cb9a15b7.211428","mydb":"e0c17073.f37ea","name":"Pub_Sub secondary Db","x":350,"y":420,"wires":[["47c5423e.83bf6c"]]},{"id":"1ac96149.3724cf","type":"inject","z":"cb9a15b7.211428","name":"","topic":"SELECT sc_unit_id AS 'Serial Number', SUM(data = 0x01) AS 'Loaded', SUM(data = 0x00) AS 'Empty' FROM ib_queue WHERE (creation_time BETWEEN '2019-10-08 11:55:00' AND '2020-10-30 23:55:00') AND module = 15 AND component = 1 AND parameter = 6 GROUP BY sc_unit_id ORDER BY sc_unit_id","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":500,"wires":[["770a7178.bbba9"]]},{"id":"4b1245b2.98c86c","type":"ui_table","z":"cb9a15b7.211428","group":"c9ae94eb.d59d58","name":"","order":2,"width":"12","height":"12","columns":[],"outputs":0,"cts":false,"x":710,"y":460,"wires":[]},{"id":"7f47c49a.5b7e4c","type":"ui_button","z":"cb9a15b7.211428","name":"","group":"511b6044.b677b","order":6,"width":0,"height":0,"passthru":false,"label":"Run Query","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":90,"y":320,"wires":[["a00aae80.0cbfa"]]},{"id":"a00aae80.0cbfa","type":"function","z":"cb9a15b7.211428","name":"Create Query","func":"var temp_topic;\nvar topic;\n\nvar startDate = global.get(\"start_date\");\nvar startTime = global.get(\"start_time\");\nvar endDate = global.get(\"end_date\");\nvar endTime = global.get(\"end_time\");\n\nnode.log(startDate);\nif(msg.payload === true){\n    temp_topic = global.get(\"query_topic\");\n    \n    \n    if(temp_topic.includes(\"@date1\"))\n    {\n        temp_topic = temp_topic.replace(/@date1/g, \"'\" + startDate + \" \" + startTime + \"'\");\n    }\n    if(temp_topic.includes(\"@date2\"))\n    {\n        temp_topic = temp_topic.replace(/@date2/g, \"'\" + endDate + \" \" + endTime + \"'\");  \n    }\n    if(temp_topic.includes(\"@devices\"))\n    {\n        // @Todo\n        // Complete when Design of devices is done.\n        // Must take in n number of devices.\n    }\n    \n    topic = temp_topic;\n    \n}\n\nreturn {\"topic\": topic};\n","outputs":1,"noerr":0,"x":180,"y":380,"wires":[["7de1819d.ab61","770a7178.bbba9"]]},{"id":"1a6c0d55.37cc03","type":"excel","z":"cb9a15b7.211428","name":"","file":"","x":930,"y":460,"wires":[[]]},{"id":"47c5423e.83bf6c","type":"function","z":"cb9a15b7.211428","name":"","func":"return msg;\n","outputs":1,"noerr":0,"x":550,"y":420,"wires":[["4b1245b2.98c86c","cd4791af.bd9db","5923ae7e.93f5c"]]},{"id":"5923ae7e.93f5c","type":"uuid","z":"cb9a15b7.211428","uuidVersion":"v4","namespaceType":"url","namespace":"'book1.xlsx'","namespaceCustom":"","name":"Unique ID for excel sheet","field":"uuid","fieldType":"msg","x":730,"y":360,"wires":[["199f2ec6.d5e831"]]},{"id":"c516863d.54a068","type":"function","z":"cb9a15b7.211428","name":"Set base path","func":"//restrict to c:\\temp\\\nvar basePath = \"/User/obaid/Documents/\";\nvar filename = msg.req.params.fn;\n\n\nif(filename.includes(\"..\\\\\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} else if(filename.includes(\"../\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} \n//TODO: add more checks\n\nmsg.filename = basePath + filename;\nreturn [msg, null];//fire output 1\n\n\n","outputs":2,"noerr":0,"x":240,"y":820,"wires":[["cbc71488.05ba68"],["4d39167c.6f9ac8"]]},{"id":"4d39167c.6f9ac8","type":"http response","z":"cb9a15b7.211428","name":"","statusCode":"","headers":{},"x":650,"y":820,"wires":[]},{"id":"cbc71488.05ba68","type":"file in","z":"cb9a15b7.211428","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":470,"y":760,"wires":[["4d39167c.6f9ac8"]]},{"id":"baaca678.eb22e8","type":"catch","z":"cb9a15b7.211428","name":"","scope":["5c044119.d5f2b"],"uncaught":false,"x":110,"y":880,"wires":[["21c2e0a2.3112a","745083df.08c0ec"]]},{"id":"21c2e0a2.3112a","type":"function","z":"cb9a15b7.211428","name":"Set 404","func":"msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":880,"wires":[["4d39167c.6f9ac8"]]},{"id":"745083df.08c0ec","type":"debug","z":"cb9a15b7.211428","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":920,"wires":[]},{"id":"e0c7d16a.ca69b","type":"ui_template","z":"cb9a15b7.211428","group":"28682e36.09eff2","name":"ui_template - present download links on dashboard","order":0,"width":0,"height":0,"format":"<div >\n    <a href=\"/file_download/book1.xlsx\">Link to Download Excel</a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":570,"y":980,"wires":[[]]},{"id":"305b034a.67dc0c","type":"comment","z":"cb9a15b7.211428","name":"Create http endpoint <nodered>/files/xxx  where xxx is the file name to download","info":"","x":340,"y":680,"wires":[]},{"id":"5c044119.d5f2b","type":"http in","z":"cb9a15b7.211428","name":"","url":"/file_download/:fn","method":"get","upload":false,"swaggerDoc":"","x":160,"y":740,"wires":[["c516863d.54a068"]]},{"id":"3defaa04.d5a0c6","type":"ui_ui_control","z":"cb9a15b7.211428","name":"","events":"all","x":280,"y":980,"wires":[["e0c7d16a.ca69b"]]},{"id":"69768621.ef0758","type":"inject","z":"cb9a15b7.211428","name":"","topic":"","payload":"{\"group\":{\"show\":[\"Orbcomm_Cellular_Query_Form\"],\"focus\":true}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":980,"wires":[["3defaa04.d5a0c6"]]},{"id":"199f2ec6.d5e831","type":"function","z":"cb9a15b7.211428","name":"Set Basepath + filename .xlsx","func":"var uuid = msg.uuid;\nvar basefile_path = '/Users/orahman/Documents/';\n\nmsg.filepath = basefile_path + uuid + '.xlsx';\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":400,"wires":[["1a6c0d55.37cc03"]]},{"id":"cd4791af.bd9db","type":"debug","z":"cb9a15b7.211428","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":520,"wires":[]},{"id":"7859339b.1fd87c","type":"catch","z":"cb9a15b7.211428","name":"","scope":null,"uncaught":true,"x":340,"y":580,"wires":[["71edfa68.86ae14"]]},{"id":"71edfa68.86ae14","type":"debug","z":"cb9a15b7.211428","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":580,"wires":[]},{"id":"ef80ae89.3010e","type":"function","z":"cb9a15b7.211428","name":"","func":"var payload = msg.payload;\nvar default_start_time = global.get(\"@date1\");\n\n//node.log(\"Default date:\" + default_start_time);\nif(payload.length === 0) {\n    \n    global.set(\"start_date\", default_start_time);\n    \n}\nelse\n{\n    var d = new Date(payload);\n    var get_date = d.getDate();\n    var get_month = d.getMonth();\n    var get_year = d.getFullYear();\n    var my_date = calc_date(get_date, get_month, get_year);\n    node.log(\"start date payload:\" + my_date);\n    global.set(\"start_date\", my_date);\n}\n\n\nfunction calc_date(current_date, current_month , current_year){\n    var my_date = current_year+ '-' +((current_month > 8) ? (current_month + 1) : ('0' + (current_month + 1))) + '-' + ((current_date > 9) ? current_date : ('0' + current_date));\n    return my_date;\n    \n}\n\n\n\n\n","outputs":1,"noerr":0,"x":730,"y":120,"wires":[[]]},{"id":"3ffa1fa6.bc459","type":"function","z":"cb9a15b7.211428","name":"","func":"var payload = msg.payload;\nvar default_end_time = global.get(\"@date2\");\n\nif(payload.length === 0) {\n    \n    global.set(\"end_date\", default_start_time);\n    \n}\nelse\n{\n    var d = new Date(payload);\n    var get_date = d.getDate();\n    var get_month = d.getMonth();\n    var get_year = d.getFullYear();\n    var my_date = calc_date(get_date, get_month, get_year);\n    node.log(\"end date payload:\" + my_date);\n    global.set(\"end_date\", my_date);\n}\n\nfunction calc_date(current_date, current_month , current_year){\n    var my_date = current_year+ '-' +((current_month > 8) ? (current_month + 1) : ('0' + (current_month + 1))) + '-' + ((current_date > 9) ? current_date : ('0' + current_date));\n    return my_date;\n    \n}\n\n","outputs":1,"noerr":0,"x":730,"y":200,"wires":[[]]},{"id":"4fdd0ee5.f7d1f","type":"function","z":"cb9a15b7.211428","name":"","func":"var payload = msg.payload\n\nvar end_time = msToTime(payload);\n\nglobal.set(\"end_time\", end_time);\n\nfunction msToTime(duration) {\n    var milliseconds = parseInt((duration%1000)/100)\n    var seconds = parseInt((duration/1000)%60)\n    var minutes = parseInt((duration/(1000*60))%60)\n    var hours = parseInt((duration/(1000*60*60))%24);\n\n    hours = (hours < 10) ? \"0\" + hours : hours;\n    minutes = (minutes < 10) ? \"0\" + minutes : minutes;\n    seconds = (seconds < 10) ? \"0\" + seconds : seconds;\n\n    return hours + \":\" + minutes + \":\" + seconds;\n}\n\nreturn {\"payload\": end_time};","outputs":1,"noerr":0,"x":730,"y":240,"wires":[[]]},{"id":"c5d4fb00.94bad8","type":"function","z":"cb9a15b7.211428","name":"","func":"var temp_payload = msg.payload;\nvar payload;\n\nnode.log(temp_payload.includes(\"@date1\"));\nif((temp_payload.includes(\"@date1\")) || (temp_payload.includes(\"@date2\")))\n{\n    temp_payload = temp_payload.replace(/@date1/g, \"123\");\n}\nif(temp_payload.includes(\"@date2\"))\n{\n    temp_payload = temp_payload.replace(/@date2/g, \"469\");  \n}\n\npayload = temp_payload;\n\nreturn {\"payload\":payload};","outputs":1,"noerr":0,"x":730,"y":280,"wires":[[]]},{"id":"db1621b2.10a1f","type":"function","z":"cb9a15b7.211428","name":"","func":"var payload = msg.payload\n\nvar start_time = msToTime(payload);\n\nglobal.set(\"start_time\",start_time);\nfunction msToTime(duration) {\n    var milliseconds = parseInt((duration%1000)/100)\n    var seconds = parseInt((duration/1000)%60)\n    var minutes = parseInt((duration/(1000*60))%60)\n    var hours = parseInt((duration/(1000*60*60))%24);\n\n    hours = (hours < 10) ? \"0\" + hours : hours;\n    minutes = (minutes < 10) ? \"0\" + minutes : minutes;\n    seconds = (seconds < 10) ? \"0\" + seconds : seconds;\n\n    return hours + \":\" + minutes + \":\" + seconds;\n}\nreturn {\"payload\": start_time};","outputs":1,"noerr":0,"x":730,"y":160,"wires":[[]]},{"id":"7de1819d.ab61","type":"debug","z":"cb9a15b7.211428","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":340,"wires":[]},{"id":"511b6044.b677b","type":"ui_group","z":"","name":"Query Form","tab":"7c78960f.06d228","order":1,"disp":true,"width":"12","collapse":false},{"id":"e0c17073.f37ea","type":"MySQLdatabase","z":"","name":"","host":"10.205.1.245","port":"3306","db":"pubsub","tz":""},{"id":"c9ae94eb.d59d58","type":"ui_group","z":"","name":"Orbcomm Cellular Data","tab":"7c78960f.06d228","order":2,"disp":true,"width":"12","collapse":false},{"id":"28682e36.09eff2","type":"ui_group","z":"","name":"Download","tab":"7c78960f.06d228","order":3,"disp":true,"width":"6","collapse":false},{"id":"7c78960f.06d228","type":"ui_tab","z":"","name":"Orbcomm Cellular","icon":"Orbcomm","disabled":false,"hidden":false}]